/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* TRIGGERS */
.img-gallery img:last-child {
    display: none;
}

.top-card:hover .img-gallery img:first-child{
    display: none;
}

.top-card:hover .img-gallery img:last-child{
    display: block;
}

.toggle-wish-list:hover {
    color: red;
}

/* GLOBAL */
.content {
    width: 80%;
    margin: auto;
}

.row {
    background-color: azure;
}

.card {
    background-color: bisque;
    width: calc(100% /3);
}

/* TOP CARD */
.top-card {
    position: relative;
    background-color: blanchedalmond;
}

.img-gallery img{
    display: block;
    width: 100%;
}

.toggle-wish-list {
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 10px 20px;
    background-color: white;
}

.tags {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 20px;
    font-size: 0.8rem;
}

.tag {
    background-color: gray;
    border: 0px solid;
    border-radius: 4px;
    padding: 5px;
    color: whitesmoke;
    font-weight: bold;
}

/* BOTTOM CARD */
.bottom-card {
    background-color: #fff;
    width: 100%;
}

