/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.9rem;
}

/* TRIGGERS */
.img-gallery img:last-child {
    display: none;
}

.top-card:hover .img-gallery img:first-child{
    display: none;
}

.top-card:hover .img-gallery img:last-child{
    display: block;
}

.nav-gallery .img:hover {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 90%;
    width: 60%;
    margin: 0px;
    transform: translate(-50%,-50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    border: 10px solid;
    border-color: rgba(0, 0, 0, 0.1);
    background-size: contain;
    background-repeat: no-repeat;
}

.toggle-wish-list:hover {
    color: red;
}

/* GLOBAL */

body {
    background-color: azure;
}

header {
    height: 50px;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #3BB8E9;
    z-index: 1;
}

#logo {
    float: left;
    height: 100%;
    padding: 15px;
}

nav .search {
    float: right;
    height: 100%;
    padding: 15px;
}

nav .search input {
    height: 100%;
    padding: 5px;
}

.content {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.card {
    text-align: left;
    display: inline-block;
    width: 300px;
    padding: 10px;
    margin-left: -4px;
    overflow: hidden;
}

/* TOP CARD */
.top-card {
    position: relative;
    border: 0px solid;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}

.toggle-wish-list {
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 10px 20px;
    background-color: white;
    font-size: 18px;
}

.img-gallery img{
    display: block;
    width: 100%;
}

.nav-gallery {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.nav-gallery .img {
    display: inline-block;
    border: 2px solid black;
    height: calc(100% - 5px * 2);
    width: 50px;
    margin: 5px;
    background-color: lightgray;
    background-size: cover;
    background-position: top;
}

.tags {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 20px;
}

.tag {
    background-color: gray;
    /* border: 1px solid; */
    border-radius: 4px;
    padding: 5px;
    color: whitesmoke;
    font-size: 0.9em;
    font-weight: bold;
}

/* BOTTOM CARD */
.bottom-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.description .brand {
    font-size: 0.9em;
}

.description .product {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.price .on-sale {
    font-weight: bold;
    color: red;
}

.price .full-price {
    text-decoration: line-through;
}

.add-cart {
    position: relative;
    text-align: right;
}

.add-cart button {
    padding: 5px;
    border: 0px solid;
    border-radius: 4px;
    background-color: cornflowerblue;
    color: whitesmoke;
}

/* STYLING */
.tag.bg-color-red {
    background-color: red;
}

.tag.bg-color-green {
    background-color: green;
}

/* NAV GALLERY IMAGES */
.img-1 {background-image: url('../images/1.webp');}
.img-1b {background-image: url('../images/1b.webp');}
.img-2 {background-image: url('../images/2.webp');}
.img-2b {background-image: url('../images/2b.webp');}
.img-3 {background-image: url('../images/3.webp');}
.img-3b {background-image: url('../images/3b.webp');}
.img-4 {background-image: url('../images/4.webp');}
.img-4b {background-image: url('../images/4b.webp');}
.img-5 {background-image: url('../images/5.webp');}
.img-5b {background-image: url('../images/5b.webp');}
.img-6 {background-image: url('../images/6.webp');}
.img-6b {background-image: url('../images/6b.webp');}
